@import "static";

#services{
    width: 100%;
    height: 100%;
    background-color: $color5;
    padding: $p;

    >h2{
        font:700 2.5rem $text2;
        width: fit-content;
        border-bottom: 1px solid $color4;
        padding: 0.5rem;
        margin: auto;
       color: $color4;
    }

    >section{
        width: 100%;
        height: 100%;
        padding: 3rem;
        display: grid;
        // margin: 3rem;
       place-items: center;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;

        > *{
            width: 100%;
            height: 100%;
            background-color: $color4;
        //   padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.8s;
            line-height: 40px;

            &:hover{
                transform: scale(1.06);
            }
            >svg{
                  font-size: 2rem;
            }
            >span{
                font-weight: 800;
            }

        }

        .serviceBox1{
            grid-column: 1/2;
            grid-row: 1/3;
            background-color: $color1;

            >h3{
                font: 100 5rem $text1;
            }
            >p{
                font:900 1.2rem $text2
            }
        }
        .serviceBox4{
            grid-column: 2/4;

        }
       
    }
}